.article {
    background-color: #fdf5f5;
    padding-top: 20px;
}

.article-title {
    font-family: AvenirNext;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #2398b4;
}

.article-caption {
    font-family: AvenirNext;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    font-stretch: normal;
    color: #7d7d7d;
}

.article-text {
    padding-left: 40px;
    padding-right: 40px;
    font-family: AvenirNext;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: justify;
    color: #8c8c8c;
}

.article-text img{
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.image-gallery {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    color: #8c8c8c;
}

.single-image{
    display: block;
    margin: auto;
    width: 40%;    
}

.member-list{
    margin-top: 20px;
}

.member{
    margin-top: 20px;
}

.member-name{
    font-family: AvenirNext;
    font-weight: 600;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.report>a{
    margin-left: 10px;
    margin-right: 10px;
}

.report{
    margin-bottom: 15px;
}