.header {
    height: 200px;
    background: url('/media/header.png')no-repeat center center;
    background-size: cover;
}

.header-overlay{
    height: 100%;
    background-color: rgba(35, 152, 180, .3);
    line-height: 100%;
}

.title-header {
    font-family: AvenirNext;
    font-size: 49px;
    font-weight: bold;
    font-style: oblique;
    font-stretch: normal;
    text-align: center;
    margin-top: 120px;
    color: #FFFFFF;
}