.menu{
    display: block;
	box-sizing: border-box;
	margin-top: 75px;
}

.menu>a{
	text-decoration: none;
	position: relative;
	display: block;
	font-family: AvenirNext;
	font-size: 24px;
	font-weight: 600;
	text-align: left;
	margin-top: 8px;
	color: #6d6d6d;
}

.menuitem:hover{
	color: #2398b4;
}

.menu>a.active{
	color: #2398b4;
}